@import url('http://fonts.goggleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.container {
    width: 60%; 
    margin: auto;
    padding: 20px;
    font-weight: bolder;
}

.contact-form {
    font-size: large;
    background-color: var(--bg-color);
    padding: 30px; 
    margin-top: 20px;
    border-radius: 10px; 
    border-color: #39FF14;
}
.contact-form radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0; 
    display: inline-block;
    border: 1px solid #39FF14;
    box-sizing: border-box;
    border-radius: 5px; 
}

.contact-form button {
    background-color: #39FF14;
    color: black;
    padding: 14px 20px;
    margin: 16px 0; 
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px; 
}

.contact-form button:hover {
    opacity: 0.8;
}

.container h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 20px; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;

}
footer {
    text-align: center;
    --bg-color: black; 
    --text-color: beige; 
    --main-color:  #39FF14; 
    bottom: 0;
    font-size: 10px; 
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


:root {
    --bg-color: black; 
--second-bg-color: black; 
--text-color: beige; 
--main-color:  #39FF14; 

}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

    body {
        background: var(--bg-color);
        color: var(--text-color);
    }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}



.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}



.btn-box .btn:nth-child(1) {
    background: transparent;
    color: var(--main-color);
}


.btn-box .btn:nth-child(1):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(1)::before {
    background-color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}


.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background-color: var(--main-color);
}



.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
     width: 100%;
}

.home-sci   {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}


.home-sci   {
    position: relative;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}


span {
    color: var(--main-color);
}
.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* This will ensure that the image doesn't overflow the circular div */
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image cover the entire div */
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content {
    text-align: left;
}

.about-content h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.6rem;
}
.about-content h4 {
    text-align: center;
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
    
}
.about-content h5 {
    text-align: center;
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-family: 'Times New Roman', Times, serif;

}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}